/* Modal 相关样式覆盖 */
.ant-modal-header {
    margin-bottom: 16px !important;
}

/* 表格固定列样式覆盖 */
.ant-table-cell-fix-right {
    transition: none !important;
}

/* Card 中的 Tab 样式统一 */
.ant-tabs .ant-tabs-tab {
    font-size: 14px !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
    font-size: 14px !important;
}

.ant-menu-inline {

    /* 自定义滚动条样式 */
    &::-webkit-scrollbar {
        /* 设置滚动条的宽度为 6px */
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        /* 设置滚动条滑块的背景颜色为半透明白色 */
        background: rgba(255, 255, 255, 0.2);
        /* 设置滑块的圆角半径为 3px */
        border-radius: 3px;
        /* 默认情况下，滑块的可见性为隐藏 */
        visibility: hidden;
    }

    /* 当鼠标悬停在 .ant-menu-inline 上时，显示滑块 */
    &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }
}