/* Modal 相关样式覆盖 */
.ant-modal-header {
    margin-bottom: 16px !important;
}

/* 表格固定列样式覆盖 */
.ant-table-cell-fix-right {
    transition: none !important;
}

/* Card 中的 Tab 样式统一 */
.ant-tabs .ant-tabs-tab {
    font-size: 14px !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
    font-size: 14px !important;
}

/* 如果有其他需要全局覆盖的样式，都可以放在这里 */

.ant-menu-inline {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
        visibility: hidden;
    }

    &:hover::-webkit-scrollbar-thumb {
        visibility: visible;
    }
}

/* 为了兼容 Firefox */
.ant-menu-inline {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.ant-menu-inline:not(:hover) {
    scrollbar-color: transparent transparent;
}

.custom-menu-scroll::-webkit-scrollbar {
    width: 6px;
}

.custom-menu-scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    visibility: hidden;
}

.custom-menu-scroll:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}